{% extends "base.html" %}

{% block title %}Rubik's Cube Solver{% endblock %}

{% block content %}
<div class="jumbotron text-center py-5">
    <h1 class="display-4">
        <i class="fas fa-cube rotating-cube"></i> Welcome to the Cube Solver
    </h1>
    <p class="lead">Your complete Rubik's Cube solving companion.</p>
    <hr class="my-4">
    <p>Can't solve your cube? No problem! Use our advanced solver to get step-by-step instructions. You can either input the colors manually or use your camera to scan the cube.</p>
    <a href="{{ url_for('solver_page') }}" class="btn btn-primary btn-lg mt-3">
        <i class="fas fa-arrow-right"></i> Get Started
    </a>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title"><i class="fas fa-hand-pointer"></i> Manual Input</h4>
                <p class="card-text">Easily input the colors of your scrambled cube using our intuitive 2D interface. Click to select a color and paint each sticker on the unfolded net.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title"><i class="fas fa-camera"></i> Camera Scan</h4>
                <p class="card-text">Use your device's camera to automatically detect the colors for each face of the cube, saving you time and effort.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}